<!DOCTYPE html>
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="icon", href="./favicon.ico")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.1/css/all.css", integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz", crossorigin="anonymous")
		link(rel="stylesheet", href="./scss/index.scss")
		title mild's ticket
	body
		nav
			h1 tsuke ticket
		.c
			.canvas
				canvas#card
			.row
				button#reload #[i.fas.fa-redo] change color
				button#create #[i.fas.fa-download] download
				a(href="https://github.com/mildc055ee/tsuketicket")
					button#source #[i.fas.fa-code] view on github
			h2 How to use
			ul
				li change colorボタンをクリックすると10通りのパレットからランダムに色が変わります
				li キャンバスの上でマウスを動かすとアニメーションの動きが変わります(スマホの場合はドラッグしてください)
				li 適当なタイミングでdownloadボタンを押すとその時点でのキャンバスの状態を画像として取得できます
				li 背景が透過されたpng形式で保存されます
				li view on githubボタンをクリックするとソースコードがみれます
		script(src="./ts/index.ts")
		script(src="./ts/canvas.ts")
		script(src="./ts/actions.ts")
